<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NameArray</key>
	<array>
		<string>redkookie1</string>
		<string>redkookie2</string>
		<string>redkookie3</string>
		<string>redkookie4</string>
	</array>
</dict>
</plist>
